.avatar  {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1rem;
  margin: 0.2rem;
  transition: inherit;
}

.Project-Link {
  height: auto;
  max-width: 18rem;
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  color: black;
  transition: inherit;
}

.Project-Link:hover {
  color: rgb(104, 104, 104);
}

.Project-Card-Container {
  transition: all 0.5s ease;
  font-size: 1.6rem;
}

.Project-Card-Container:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
}

.Project-Card-Container:hover  .avatar {
  width: 1.6rem;
  height: 1.6rem;
}